.container {
    width: 1200px;
    margin: 40px auto;
}

.container .container-header {
    width: 100%;
    height: 90px;
    background-color: #FFFFFF;
    line-height: 90px;
    position: relative;
    margin-bottom: 10px;
    border: 1px solid #ececec;
}

.container .container-header h1 {
    padding-left: 16px;
    color: #000;
    font-size: 24px;
}

.container .container-header .container-header-select {
    position: absolute;
    right: 48px;
    bottom: -24px;
}

.container .container-header .container-header-select div {
    color: #666666;
    font-size: 15px;
    border: none;
    outline: none;
    display: inline-block;
}

.container .container-header .container-header-select div:nth-of-type(1) {
    margin-right: 24px;
}

.container .container-header .container-header-select div p {
    display: inline-block;
    height: 40px;
    margin: 0;
    padding: 0;
}

.container .container-header .container-header-select div img {
    width: 10px;
    display: inline-block;
}

.container .container-main {
    border: 1px solid #ececec;
    margin-bottom: 20px;
    display: block;
}

.container .container-main .container-main-left {
    width: 936px;
    height: 700px;
    float: left;
}

.container .container-main .container-main-left img {
    width: 100%;
    height: 100%;
}

.container .container-main .container-main-right {
    width: 260px;
    float: right;
    background-color: #FFFFFF;
    height: 700px;
}

.container .container-main-right-title {
    margin-top: 4px;
    padding: 0 24px 10px 30px;
    border-bottom: 2px solid #f5f5f5;
}

.container .container-main-right-title-left {
    margin-top: 24px;
    display: inline-block;
    width: 60px;
    height: 60px;
}

.container .container-main-right-title-left h1 {
    color: #333333;
    font-size: 31px;
    text-align: left;
}

.container .container-main-right-title-left p {
    font-size: 15px;
    color: #333333;
    text-align: right;
}

.container .container-main-right-title-left div {
    background-color: #000000;
    width: 60px;
    height: 1px;
    transform: rotate(-45deg) translate(15px, -10px);
}

.container .container-main-right-title-right {
    width: 100px;
    display: inline-block;
    font-size: 12px;
    color: #333333;
    padding: 0 0px 10px 10px;
}

.container .container-main-right-content {
    font-size: 12px;
    color: #666666;
    line-height: 26px;
    padding: 12px 24px;
    letter-spacing: 1px;
}

.container .container-footer {
    width: 100%;
    position: relative;
    padding: 0 0 80px 0;
}

.container .container-footer .container-footer-f {
    padding-top: 50px;
    width: 100%;
    height: 36px;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;

    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
}

.container .container-footer .container-footer-f div {
    background-color: rgb(153, 153, 153);
    height: 36px;
    display: inline-block;
}

.container .container-footer .container-footer-f .left,
.container .container-footer .container-footer-f .rigth {
    width: 46px;
}

.container .container-footer .container-footer-f .center {
    width: 108px;
    font-size: 12px;
    color: #FFFFFF;
    height: 36px;
    line-height: 36px;
    text-align: center;
    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
}

.container .container-footer .container-footer-f .center p {
    margin: 0;
    padding: 0;
    color: #FFFFFF;
}

.container .container-footer .container-footer-f div img {
    width: 20px;
    height: 20px;
    margin: 8px auto;
    display: block;
}

.container .container-footer .container-footer-s {
    position: absolute;
    right: 0;
    bottom: 75px;
    height: 20px;
}

.container .container-footer .container-footer-s .comment {
    display: inline-block;
}

.container .container-footer .container-footer-s .comment p:nth-of-type(1) {
    color: #FFFFFF;
    background-color: #910010;
    text-align: center;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    width: 45px;
    display: inline-block;
    border-right: 1px solid #FFFFFF;
}

.container .container-footer .container-footer-s .comment p:nth-of-type(2) {
    color: #FFFFFF;
    background-color: #555555;
    text-align: center;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    width: 45px;
    display: inline-block;
}

.container .container-footer .container-footer-s .footer-s {
    text-align: center;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    width: 60px;
    color: #000000;
    float: right;
}

.container .container-footer .container-footer-s p {
    display: inline-block;
    height: 20px;
    line-height: 20px;
}

.container .container-footer .container-footer-s .share {
    padding-left: 14px;
    background: url(./../images/icon/icon_share.png) no-repeat left center;
    margin-left: 38px;
    margin-bottom: 9px;
    display: inline-block;
}

.container .container-footer .container-footer-s .collection {
    padding-left: 14px;
    background: url(./../images/icon/icon_shoucang.png) no-repeat left center;
    margin-left: 38px;
    margin-bottom: 9px;
    display: inline-block;
}

.container .container-footer .container-footer-s .follow {
    padding-left: 14px;
    background: url(./../images/icon/icon_guanzhu.png) no-repeat left center;
    margin-left: 38px;
    margin-bottom: 9px;
    display: inline-block;
}

footer {
    min-width: 1200px;
}