.container {
    width: 100%;
    position: relative;
    margin: 0 auto;
    min-width: 1500px;
}

.container img {
    width: 100%;
}

.container .container-info {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
}

.container .container-info h1 {
    margin-top: 312px;
    text-align: center;
    font-size: 40px;
    color: #FFFFFF;
    font-weight: bolder;
}

.container .container-info .container-info-title {
    text-align: center;
    margin-top: 70px;
    width: 100%;
    height: 36px;
    /*display*/
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;

    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
}

.container .container-info .container-info-title p {
    display: block;
    width: 72px;
    height: 36px;
    line-height: 32px;
    border: 2px solid #FFFFFF;
}

.container .container-info .container-info-title p:nth-of-type(1) {
    margin-right: 12px;
}

.container .container-info .container-info-title p span {
    font-size: 22px;
    color: #FFFFFF;
}

.container .container-info .container-info-name {
    margin-top: 28px;
    width: 100%;
    height: 24px;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;

    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
}

.container .container-info .container-info-name p {
    width: 220px;
    font-size: 24px;
    line-height: 24px;
    text-align: left;
}

.container .container-info .container-info-name p span {
    color: #FFFFFF;
}



.container .container-info .container-info-time {
    margin-top: 24px;
    width: 100%;
    height: 24px;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;

    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
}

.container .container-info .container-info-time p {
    width: 220px;
    font-size: 24px;
    line-height: 24px;
    text-align: left;
}

.container .container-info .container-info-time p span {
    color: #FFFFFF;
}

footer {
    min-width: 1200px;
}

.show{
    display: block;
}
.hide{
    display: none;
}

