<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>赫桥财经</title>
    <title></title>
    <meta name="keywords" content="赫桥财经"/>
    <meta name="Description" content=""/>
    <link rel="stylesheet" href="../css/heqiao.css">
    <link rel="stylesheet" href="../css/common.css">
    <script src="../js/jquery-2.1.4.js"></script>
    <script src="../js/vue.js"></script>
</head>
<body>
<header>
    <div class="topArea">
        <div class="topLogo">
            <ul>
                <li class="logo">
                    <a href="../index.html">
                        <img src="../images/icon/logo.png" width="215">
                    </a>
                </li>
            </ul>

        </div>

        <div class="topOpera">
            <ul>
                <li class="navbar">
                    <a href="">返回首页</a>
                    <a href="" style="margin-right: 0">登录</a>/
                    <a href="" style="margin-left: 0">注册</a>
                    <a href="">个人中心</a>
                    <a href="">提问</a>
                    <a href="">关于博主</a>

                </li>
                <li class="searchbox">
                    <div class="search">
                        <input type="text" placeholder="输入关键词">
                        <span class="btn"></span>
                    </div>
                </li>
                <li class="hotline">
                    <dl>
                        <dt>全国服务热线:</dt>
                        <dd>400-871-6766</dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>
    <div class="redLine"></div>
</header>
<div class="s-body" id="registerApp">
    <div class="s-container">
        <div class="s-view">
            <div class="s-view-window">
                <h1>注册</h1>
                <form>
                    <ul>
                        <li>
                            <input type="text" class="txt" placeholder="手机号" id="mobile" v-model="mobile">
                        </li>
                        <li>
                            <input type="text" class="txt yzm" placeholder="短信验证码" id="code" v-model="smsCode">
                            <span class="dxyzm" id="getSmsCode" @click="getSmsCode">{{getSmsCodeText}}</span>
                        </li>
                        <li>
                            <input type="password" class="txt" placeholder="设置密码" id="password" v-model="password">
                        </li>
                        <li>
                            <input type="password" class="txt" placeholder="再次输入密码" id="password2" v-model="password2">
                        </li>
                        <li>
                            <input type="text" class="txt yzm" placeholder="验证码" id="safeCode" v-model="safeCode">
                            <span class="pyzm">AFSD</span>
                        </li>
                        <li class="noline">
                            <a class="submit-btn" id="submit" @click="submitData">{{submitText}}</a>
                            <i>已有账号？<a href="login.html">立即登录</a></i>
                        </li>
                    </ul>
                </form>

            </div>
        </div>
        <div class="s-logo">
            <div class="s-logo-wrap">
                <img class="fl" src="../images/icon/logo-yellow.png">

                <div class="infomation">
                    <div class="pic">
                        <img src="../images/upload/bloggerUser.png">
                    </div>
                    <p class="intro">锦坤文化发展集团</p>

                    <p class="name">博主名</p>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../js/axios.min.js"></script>
<script src="../js/common2.js"></script>
<script type="text/javascript">
    var registerApp = new Vue({
        el: '#registerApp',
        data: {
            mobile: null,
            getCodingStatus: false,
            getSmsCodeText: '获取验证码',
            smsCode: null,
            password: null,
            password2: null,
            safeCode: null,
            submitText: '提交',
        },
        methods: {
            getSmsCode: function () {
                if (this.getCodingStatus) {
                    return false;
                }
                if (ttlj.checkmobile(this.mobile)) {
                    let vm = this;
                    this.getCodingStatus = true;
                    this.getSmsCodeText = '获取中...';
                    heqiao.getResponseData('Api', 'sendSms', getSmsCodeParams(1, this.mobile))
                        .then(function (response) {
                            if (response.data.data.error === 0) {
                                ttlj.alertsuccess(response.data.data.error_msg);
                                let backSeconds = 60;
                                vm.getSmsCodeText = backSeconds;
                                var id = setInterval(function () {
                                    if (backSeconds <= 1) {
                                        clearInterval(id);
                                        vm.resetSmsCodeStatus();
                                        return false;
                                    }
                                    vm.getSmsCodeText = (--backSeconds) + 'S';
                                }, 1000);
                            } else {
                                ttlj.alerterror(response.data.data.error_msg);
                                vm.resetSmsCodeStatus();
                            }
                        })
                        .catch(function (error) {
                            ttlj.alerterror('验证码获取失败！');
                            vm.resetSmsCodeStatus();
                        });
                } else {
                    ttlj.alerterror("手机号码格式不正确！")
                }
            },
            resetSmsCodeStatus: function () {
                this.getCodingStatus = false;
                this.getSmsCodeText = '获取验证码';
            },
            submitData: function () {
                if (!ttlj.checkmobile(this.mobile)) {
                    ttlj.alerterror('手机号码格式不正确！');
                    return false;
                }
                if (ttlj.isEmpty(this.smsCode)) {
                    ttlj.alerterror('短信验证码不能为空！');
                    return false;
                }
                if (ttlj.isEmpty(this.password)) {
                    ttlj.alerterror('密码不能为空！');
                    return false;
                }
                if (ttlj.isEmpty(this.password2)) {
                    ttlj.alerterror('再次输入的密码不能为空！');
                    return false;
                }
                if (this.password != this.password2) {
                    ttlj.alerterror('两次输入的密码不相同，请检查后再重新输入！');
                    return false;
                }
                this.submitText = '注册中...';
                let vm = this;
                heqiao.getResponseData('User', 'register', getRegisterParams(this.mobile, this.password, this.password2, this.smsCode))
                    .then(function (response) {
                        if (response.data.data.error === 0) {
                            ttlj.alertsuccess(response.data.data.error_msg);
                            setTimeout(function () {
                                ttlj.location('account/user_center.html');
                            }, 1500);
                        } else {
                            ttlj.alerterror(response.data.data.error_msg);
                            vm.submitText = '提交';
                        }
                    })
                    .catch(function (error) {
                        ttlj.alerterror('注册失败！');
                        vm.submitText = '提交';
                    });
            }
        }
    });

    function getSmsCodeParams(type, phone) {
        let params = {};
        params.type = type;
        params.phone = phone;
        return JSON.stringify(params);
    }

    function getRegisterParams(phone, password, password2, smscode) {
        let params = {};
        params.phone = phone;
        params.password = password;
        params.repassword = password2;
        params.smscode = smscode;
        return JSON.stringify(params);
    }
</script>
</body>
</html>